* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

body {
  background-color: #e7ebf7;
}

p {
  margin-top: 0;
}

.main-container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 80%;
  color: white;
  border-radius: 5px;
}

.greeting-container {
  display: flex;
  height: 13.5vh;
  margin-top: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}

.user-information-section,
.greeting-container,
.user-averages,
.friends {
  color: black;
  background-color: white;
}

.card-header {
  color: #9c9db9;
  letter-spacing: 1px;
  font-size: 20px;
  justify-self: flex-start;
}

.avgs {
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}

.comparisons {
  text-align: left;
}

.fa-circle {
  color: #b7c7fe;
  margin-bottom: 1rem;
}

.fa-running {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.user-information-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.user-information-section {
  flex: 1;
  margin-top: 0;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}

.dashboard {
  font-size: 13px;
  color: #9c9db9;
  letter-spacing: 5px;
  height: 0.25vh;
  width: 0.25vh;
  margin-top: 10.5%;
  justify-self: flex-start;
  align-self: flex-start;
}
.user-data-display-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 2;
  margin-right: 3rem;
  margin-top: 11.5rem;
  margin-bottom: 2rem;
}

.ounces,
.hours,
.feet,
.minutes {
  font-size: 20px;
  margin-bottom: 3rem;
  margin-left: 1rem;
  align-self: flex-start;
}

.hydration,
.sleep,
.steps,
.minutes-active {
  height: 40vh;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front-hydration,
.flip-card-front-sleep,
.flip-card-front-activity,
.flip-card-front-steps,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front-hydration {
  display: flex;
  background-color: #66efc5;
}

.flip-card-front-sleep {
  background-color: #fe91dc;
}

.flip-card-front-activity {
  background-color: #b7c7fe;
}

.flip-card-front-steps {
  background: #ffc600;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h4 {
  font-weight: bold;
  font-size: larger;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid white;
}

.flip-card-back p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.all-user-comparison-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
  margin-top: 1rem;
  margin-right: 3rem;
  height: 45.5rem;
}

.user-averages {
  margin-top: 0;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  text-align: left;
  height: 26.5rem;
}

.friends {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  margin-top: 1rem;
  height: 20rem;
}

.fa-address-card {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.user-information-section,
.user-averages,
.friends {
  padding: 10px;
}

.card-title {
  color: #9c9db9;
  font-size: 13px;
  letter-spacing: 5px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}

@media screen and (max-width: 790px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .user-data-display-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: unset;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .greeting-container,
  .user-information-section {
    margin-bottom: 1rem;
  }

  .card h4 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.85rem;
  }

  .friends,
  .user-averages {
    margin-left: 3rem;
  }

  .dashboard {
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
}
