* {
  /* border: 1px solid red; */
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 25px;
}

.friends,
.hydration {
  background-color: #66efc5;
}

.user-averages {
  background-color: #fe91dc;
}

.user-information-section,
.steps {
  background-color: #ffc600;
}

.greeting-container,
.minutes-active {
  background-color: #b7c7fe;
}

.friends:hover,
.hydration:hover,
.sleep:hover,
.steps:hover,
.minutes-active:hover {
  opacity: 60%;
}

.main-container {
  display: flex;
}

.user-data-display-container {
  display: grid;
  grid-gap: 1.5%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  flex: 2;
}

.all-user-comparison-container {
  display: grid;
  grid-gap: 1.5%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
  margin-left: 0.5rem;
}

.user-information-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.greeting-container,
.user-information-section {
  margin-top: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.user-information-section {
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 100%;
  color: white;
  border-radius: 5px;
}

.user-information-section,
.user-averages,
.friends {
  padding: 10px;
}

.hydration,
.sleep,
.steps,
.minutes-active {
  height: 45vh;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-front-activity,
.flip-card-front-steps,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: #fe91dc;
}

.flip-card-front-activity {
  background-color: #b7c7fe;
}

.flip-card-front-steps {
  background: #ffc600;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h4 {
  font-weight: bold;
  font-size: larger;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid white;
}

.flip-card-back p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 790px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .user-data-display-container {
    margin: unset;
    margin-bottom: 1rem;
  }

  .greeting-container,
  .user-information-section {
    margin-bottom: 1rem;
  }

  .card h4 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.85rem;
  }
}
